body {
  /*   background-image: url("https://coding-assets.s3-us-west-2.amazonaws.com/backgrounds/UnderConstructionGreen.jpg");
 */
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: rgb(97, 172, 13);
}

p {
  font-family: osw;
}

.trans {
  opacity: 0.8;
}

.containerZ {
  position: relative;
  width: 30%;
}

.Projectimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3a3a3a;
}

.x:hover .overlay {
  opacity: 0.7;
}

.Hovertext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.repotext {
  font-family: "Courier Prime", monospace;
  font-size: medium;
}
