.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.4);
}

.titleMessage {
  position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 8;
    text-align: center;
    margin-top: -115px;
}

